@media (max-width: 767px) {
    body {
      background-attachment: initial;
      background-size: contain;
      background-color: #f0e6da;
    }
    .box {
      padding: 2rem;
      margin-top: 4rem;
      border-radius: 30px;
    }
    .box:first-child {
      padding: 3rem;
    }
    .portfolio ul {
      margin-top: 1rem;
    }
    .portfolio li {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    .portfolio li div {
      max-width: 448px;
    }
    .img-t{
        height: 15rem;
    }
}

@media (max-width: 565px) {
    body {
      background-attachment: initial;
      background-size: contain;
      background-color: #f0e6da;
    }
    .box {
      padding: 2rem;
      margin-top: 4rem;
      border-radius: 30px;
    }
    .box:first-child {
      padding: 3rem;
    }
    .portfolio ul {
      margin-top: 1rem;
    }
    .portfolio li {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    .portfolio li div {
      max-width: 448px;
    }
    .img-t{
        height: 10rem;
    }
  
}

@media (max-width: 543px) {
    p{
    font-size: 12px;
    }
    
}




